.movie {

  .poster {
    margin: 24px;
  }
  .right {
    text-align: left;
    width: 720px;
    margin: 12px;
    padding: 12px;
  }
  .title {
    font-size: 52px;
    color: #000;
    max-width: 570px;
  }
  .subinfo {
    font-size: 30px;
    margin: 12px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
  }
  .plot {
    font-family: "MuseoSans 300";
    font-size: 33px;
    margin: 12px 0;
  }
  .label {
    font-size: 33px;
  }
  .names {
    font-family: "MuseoSans 300";
  }
}