.weather {
  color: @moon-dark-gray;
  .teamplate-header {
    background-color: #660099;
  }
  .left {
    width: 552px;
    text-align: left;
  }
  .city {
    font-size: 72px;
    margin: 21px 0
  }
  .country {
    color: @moon-gray;
    font-size: 48px;
  }
  .icon {
    font-size: 48px;
    margin: 39px 12px;
  }
  .text {
    font-size: 39px;
    margin: 39px 12px;
  }
  .temp {
    color: #000;
    font-size: 180px;
  }
  .s-temp {
    margin: 12px;
  }

  .label {
    font-size: 36px;
    margin: 12px 0;
    border-bottom: 1px solid #ccc;
  }

  .column {
    width: 553px;
  }
}