.main {
  background-color: #fff;
  text-align: center;
  padding: 0;

  .teamplate-header {
    height: 150px;

    &.mlb {
      background-color: #002e6d;
    }
    &.movie {
      background-color: #E6B91E;
    }
  }

  .teamplate-display {
    padding: 24px 0;
  }

  .teamplate-controller {
    background-color: @moon-light-gray;
  }
}

.inline {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
  .top {
    vertical-align: top;
  }
}